#notice that '=' must follow the item and a ; should end the item
#user_home to get full userlist
user_home = /public/home/,lustre/home/;

####################
#queue setting
gpu_queues = gpu,gpuhigh;
default_queue=cpu;

#####################
#user class settings
default_class = normal_class;
classes = high,middle,normal,low;
high_class = rshi, wds, xke, weisongrui, hualei, jmzhu, gzhang, sunxun, tyang, tlzhang, shar, cxliang, pzhao, ygao, twyu,kamalnath1993 ;
middle_class = cwu-h2, gygou-h2, jkdeng, jcui, zmzhu;
normal_class = ;
low_class = ;

###############################################
#permissions for each class
high_class_perm = max_nodes:15, max_ppns:250, max_gpus:8;
middle_class_perm = max_nodes:8, max_ppns:96, max_gpus:4;
normal_class_perm = max_nodes:4, max_ppns:48, max_gpus:1;
low_class_perm = max_nodes:1, max_ppns:16, max_gpus:0;

####################
#user specific settings
#user_perm = hualei/max_nodes:50,max_ppns:500,max_gpus:15;
#user_perm = sunxun/max_nodes:50,max_ppns:500,max_gpus:15;


#mail list
user_mail = shar/eins@eva.run, einsxiao@hotmail.com
user_mail = Eins/eins@eva.run, einsxiao@gmail.com
